* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;

  .logo {
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: uppercase;
    font-family: "Bebas Neue";
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
  }

  .menu {
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    font-family: "Bebas Neue";
  }
}





.list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  span{
    font-size: 7rem;
    text-transform: uppercase;
    font-family: "Bebas Neue";
    line-height: 5.9rem;
    color: #1e1e1e;
    line-height: 0;
    text-align: center;

    &:nth-of-type(3){
      color:blue;
    }
  }
}




header {
  width: 100%;
  height: 100vh;
  padding: 0 clamp(4rem, 12vw, 20rem);
  display: grid;
  place-content: center;

  h1 {
    font-size: 7rem;
    text-transform: uppercase;
    font-family: "Bebas Neue";
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    line-height: 5.9rem;
    color: #1e1e1e;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.1);
  }

  .char {
    transform: translateY(115px);
    transition: transform 0.5s;
    opacity: 0;
  }
}

section {
  width: 100%;
  height: 100vh;
  padding: 0 clamp(4rem, 12vw, 20rem);
  display: grid;
  place-content: center;

  p {
    font-size: clamp(2rem, 5vw, 8rem);
    font-family: "Bebas Neue";
  }

  &:nth-of-type(1) {
    border-bottom: 1px solid black;
  }

  &:nth-of-type(3) {
    background: #ffff00;
  }
  &:nth-of-type(4) {
    background: rgb(29, 29, 29);
    color: white;
  }
}
